{% extends 'student/header.html' %}
{% load static %}

{% block content %}


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end mb-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="border-start border-5 border-primary ps-4">
                    <h6 class="text-body text-uppercase mb-2">Our Courses</h6>
                </div>
            </div>
        </div>

        <div class="row g-4">
            <div id="timeup"></div>
            <div class="font-weight-bold h5 text-danger mt-3 d-flex justify-content-end" id="card"></div>
            <form action="{% url 'attend_exam' %}" method="post" id="examForm">
                {% csrf_token %}
            <div class="col-lg-12 wow fadeInUp shadow-lg p-3" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel-exam">
                    {% for i in data %}
                    <div class="testimonial-item">
                        <p class="fs-5">
                            <div class="badge badge-primary bg-dark py-2 px-3 me-3">
                                {{ forloop.counter }}
                            </div> 
                            {{ i.question }}
                            <input type="hidden" name="question_id" value="{{ i.q_id }}">
                        </p>
                        <div class="bg-primary mb-3" style="width: 60px; height: 5px"></div>
                        
                            <div class="row p-2">
                                <div class="col-6"><input type="radio" name="answer_{{ i.q_id }}" value="{{ i.optionA }}" class="form-contol radio me-3"> A. {{ i.optionA }}</div>
                                <div class="col-6"><input type="radio" name="answer_{{ i.q_id }}" value="{{ i.optionB }}" class="form-contol radio me-3"> B. {{ i.optionB }}</div>
                            </div>
                            <div class="row p-2">
                                <div class="col-6"><input type="radio" name="answer_{{ i.q_id }}" value="{{ i.optionC }}" class="form-contol radio me-3"> C. {{ i.optionC }}</div>
                                <div class="col-6"><input type="radio" name="answer_{{ i.q_id }}" value="{{ i.optionD }}" class="form-contol radio me-3"> D. {{ i.optionD }}</div>
                            </div>
                        
                    </div>
                    {% empty %}
                        <h4>Not found any question</h4>
                        {% endfor %}

                </div>
            </div>
            <div class="text-center">
                <button type="button" style="border-radius: 8px;" class="btn btn-dark px-5 mt-4" data-bs-toggle="modal" data-bs-target="#verticalycentered">Submit</button>
            </div>
            <div class="modal fade" id="verticalycentered" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Are you sure?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>Once submitted ,you will not be able to edit or return to this exam.</h6> 
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm" style="border-radius: 5px;" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-success btn-sm" style="border-radius: 5px;">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
        </form>

        </div>
    </div>
</div>

<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>
<script>
    $(document).ready(function() {
        
        var timeLeft = JSON.parse('{{ json_data|safe }}');
        
        
        var timeParts = timeLeft.split(":"); 
        var hours = parseInt(timeParts[0]) || 0;
        var minutes = parseInt(timeParts[1]) || 0;
        var seconds = parseInt(timeParts[2]) || 0;
        var timeoutMilliseconds = ((hours * 60 + minutes) * 60 + seconds) * 1000;

        // setTimeout(function() {
        //     $('.radio-f').prop('disabled', true);
        // }, timeoutMilliseconds);

        
        let jsonTime = JSON.parse('{{ json_data|safe }}');
    let timeRemaining;

    if (typeof jsonTime === "string") {
        let timeParts = jsonTime.split(':');
        if (timeParts.length === 3) {
            let hours = parseInt(timeParts[0], 10);
            let minutes = parseInt(timeParts[1], 10);
            let seconds = parseInt(timeParts[2], 10);
            timeRemaining = hours * 3600 + minutes * 60 + seconds;
        } else {
            timeRemaining = 0; // default to 0 if format is not correct
        }
    } else {
        // If already a number in seconds
        timeRemaining = parseInt(jsonTime, 10);
    }

    // Initialize the countdown function
    function startCountdown() {
        let countdownInterval = setInterval(function() {
            let hours = Math.floor(timeRemaining / 3600);
            let minutes = Math.floor((timeRemaining % 3600) / 60);
            let seconds = timeRemaining % 60;

            let formattedTime = 
                (hours < 10 ? "0" + hours : hours) + ":" +
                (minutes < 10 ? "0" + minutes : minutes) + ":" +
                (seconds < 10 ? "0" + seconds : seconds);

            $('#card').text(formattedTime);

            timeRemaining--;
            if (timeRemaining < 0) {
                clearInterval(countdownInterval);
                $('#card').text("00:00:00");
                setTimeout(mufun, 3000);
                $('#timeup').html("<span class='badge badge-danger bg-danger rounded-pill h3'>Time Up Submit Your Answer</span>");

                    function mufun() {
                        document.getElementById('examForm').submit();
                    }
                
            }
        }, 1000); // Update every second
    }

    startCountdown();
    });

    
</script>

{% endblock content %}