{% extends 'student/header.html' %}
{% load static %}

{% block content %}

<div class="container-fluid page-header py-3 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-4">
        <h1 class="display-6 text-white animated slideInDown mb-4">Change Password</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Change Password</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end mb-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="border-start border-5 border-primary ps-4">
                    <h6 class="text-body text-uppercase mb-2">Change Password</h6>
                </div>
            </div>
        </div>

        <div class="row g-5 bg-light">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                {% if messages %}
                    {% for message in messages %}
                    <h6 class="alert alert-success p-3">{{message}}</h6>       
                    {% endfor %}
                {% endif %}
                <form action="{% url 'change_password' %}" method="post" id="myform">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-lg-12 col-xl-12">
                            <label for="current_password">Current password</label>
                            <input type="password" name="current_password" class="form-control border-0" id="current_password">
                        </div>
                        <div class="col-lg-12 col-xl-12">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control border-0" id="password">
                        </div>
                        <div class="col-lg-12 col-xl-12">
                            <label for="cpas">Confirm Password</label>
                            <input type="password" name="cpas" class="form-control border-0" id="cpas">
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary w-25 py-2">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>

<script>
    (function ($, W, D)
    {
    var JQUERY4U = {};
    JQUERY4U.UTIL =
    {
    setupFormValidation: function ()
    {
    $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
    var check = false;
    return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
    );
    
    //form validation rules
    $("#myform").validate({
    ignore: [],
    rules: {

                password: {
                        required: true,
                        regex : /^[A-Za-z0-9@#*]+$/,
                        minlength: 5,
                        maxlength: 15,
                        },

                cpas: {
                        required: true,
                        regex : /^[A-Za-z0-9@#*]+$/,
                        minlength: 5,
                        maxlength: 15,
                        equalTo: "#password"
                    },
                
              },
              messages: {
    
                password: "Please Enter Valid Password Name(5-15 digit alphanumeric  password  and @#* also allowed",
                cpas: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
    },
    submitHandler: function (form) {
    form.submit();
    }
    });
    }
    }
    //when the dom has loaded setup form validation rules
    $(D).ready(function ($) {
    JQUERY4U.UTIL.setupFormValidation();
    });
    })(jQuery, window, document);
    </script>

{% endblock content %}