{% extends 'student/header.html' %}
{% load static %}

{% block content %}


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end mb-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="border-start border-5 border-primary ps-4">
                    <h6 class="text-body text-uppercase mb-2">Exam</h6>
                </div>
            </div>
        </div>

        <div class="row g-4">
            <div class="tab-content">
                {% for i in data %}
                <div id="tab-1" class="tab-pane fade show p-0 active shadow-lg">
                    <div class="p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">{{i.title}}</h5>
                                    <h6>Topic </h6>
                                    <span id="short-text-{{ forloop.counter }}" class="short-text">{{ i.topic|truncatechars:60 }}...</span>
                                    <span id="full-text-{{ forloop.counter }}" class="full-text" style="display:none;">{{ i.topic|linebreaksbr }}</span>
                                    <a href="javascript:void(0);" id="read-more-{{ forloop.counter }}" onclick="toggleText('{{ forloop.counter }}')" class="read-more small">Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a href="{% url 'my_result' %}?e_id={{i.e_id}}" class="btn btn-sm btn-warning px-4 mb-2" style="border-radius: 8px;">Result <i class="fas fa-clipboard-check"></i></a>
                                </div>
                                <span class="fw-bold"><i class="far fa-clock text-primary fa-lg me-2"></i>Duration : {{ i.duration }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h3 class="font-monospace">Not Found Any Exam</h3>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

<script>
    function toggleText(articleId) {
        var fullText = document.getElementById('full-text-' + articleId);
        var shortText = document.getElementById('short-text-' + articleId);
        var readMoreLink = document.getElementById('read-more-' + articleId);

        // Toggle visibility of full text
        if (fullText.style.display === "none") {
            fullText.style.display = "block";
            shortText.style.display = "none";
            readMoreLink.innerHTML = "Read Less";
        } else {
            fullText.style.display = "none";
            shortText.style.display = "block";
            readMoreLink.innerHTML = "Read More";
        }
    }
</script>

{% endblock content %}