{% extends 'teacher/header.html' %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>New Batches</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">New Batches</li>
      </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        {% if data %}
        {% for i in data %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.title }}</h5>
                        <div class="row">
                            <div class="col-9">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="bi bi-star me-1 text-success"></i>Course : {{i.course.course_name}}</li>
                                    <li class="list-group-item"><i class="bi bi-exclamation-octagon me-1 text-warning"></i>Teachers : 
                                        {% for j in i.teacher.all %}
                                        
                                        {% if forloop.last %}
                                        {{j.name}}
                                        {% else %}
                                        {{j.name}},
                                        {% endif %}
                                        
                                        {% endfor %}</li>
                                    <li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> Duration : {{ i.start_date }} - {{ i.end_date }}</li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <div class="btn btn-sm btn-success w-100 mb-2">
                                    <span class="filter">
                                        <a class="icon  text-white" href="#" data-bs-toggle="dropdown">Assignment <i class="bi bi-three-dots float-end"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                          <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                          </li>
                      
                                          <li><a class="dropdown-item" href="{% url 'assignment_list' %}?batch_id={{ i.b_id }}">Assignment List</a></li>
                                          <li><a class="dropdown-item" href="{% url 'submission' %}?b_id={{ i.b_id }}">Submission</a></li>
                                        </ul>
                                    </span>
                                </div>

                                <div class="btn btn-sm btn-dark w-100 mb-2">
                                    <span class="filter">
                                        <a class="icon  text-white" href="#" data-bs-toggle="dropdown">Exam <i class="bi bi-three-dots float-end"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                          <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                          </li>
                                          <li><a class="dropdown-item" href="{% url 'exam_list' %}?b_id={{ i.b_id }}">Exam list</a></li>
                                          <li><a class="dropdown-item" href="{% url 'batch_exams' %}?b_id={{ i.b_id }}">Exams result</a></li>
                                        </ul>
                                    </span>
                                </div>
                                <a class="btn btn-sm btn-primary w-100 mb-2" href="{% url 'batch_students' %}?b_id={{ i.b_id }}">Students</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <h5>Not found any new batch</h5>
        {% endif %}
    </div>
</section>

{% endblock content %}