{% extends 'teacher/header.html' %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Change password</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Change password</li>
      </ol>
    </nav>
  </div>

<section class="section">
    <div class="row">
        <div class="col-lg-5 m-auto">
            {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success p-2">{{message}}</h6>       
                {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Change password</h5>
                    <form class="row g-3" action="{% url 'change_password' %}" method="post" id="myform" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <label for="current_password" class="form-label">Current password</label>
                            <input type="password" class="form-control form-control-sm" name="current_password" id="current_password">
                        </div>
                        <div class="col-md-12">
                            <label for="password" class="form-label">New password</label>
                            <input type="password" class="form-control form-control-sm" name="password" id="password">
                        </div>
                        <div class="col-md-12">
                            <label for="cpas" class="form-label">Re-enter new password</label>
                            <input type="password" class="form-control form-control-sm" name="cpas" id="cpas">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>

<script>
    (function ($, W, D)
    {
    var JQUERY4U = {};
    JQUERY4U.UTIL =
    {
    setupFormValidation: function ()
    {
    $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
    var check = false;
    return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
    );
    
    //form validation rules
    $("#myform").validate({
    ignore: [],
    rules: {

                password: {
                        required: true,
                        regex : /^[A-Za-z0-9@#*]+$/,
                        minlength: 5,
                        maxlength: 15,
                        },

                cpas: {
                        required: true,
                        regex : /^[A-Za-z0-9@#*]+$/,
                        minlength: 5,
                        maxlength: 15,
                        equalTo: "#password"
                    },
                
              },
              messages: {
    
                password: "Please Enter Valid Password Name(5-15 digit alphanumeric  password  and @#* also allowed",
                cpas: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
    },
    submitHandler: function (form) {
    form.submit();
    }
    });
    }
    }
    //when the dom has loaded setup form validation rules
    $(D).ready(function ($) {
    JQUERY4U.UTIL.setupFormValidation();
    });
    })(jQuery, window, document);
    </script>

  {% endblock content %}