{% extends 'teacher/header.html' %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Exam Result</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Exam Result</li>
      </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success p-2">{{message}}</h6>       
                {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Exam Result</h5>
                  {% if data %}
                  <div class="row mb-2">
                    <div class="col-9"></div>
                    <div class="col-3">
                        <input type="text" placeholder="Exam..." class="form-control form-control-sm" id="ename">
                    </div>
                </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Exam</th>
                                    <th>Duration</th>
                                    <th>Result</th>
                                    <th colspan="2">#</th>
                                </tr>
                            </thead>
                            <tbody id="tb">
                                {% for i in data %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ i.title }}</td>
                                    <td>{{ i.et }}</td>
                                    <td>
                                        {% for j in i.batch.all %}
                                          
                                        <a href="{% url 'exam_results' %}?e_id={{i.e_id}}&b_id={{ j.b_id }}" class="text-success d-block">{{ j.title }} <i class="bi bi-arrow-right"></i></a>
                                           
                                        {% endfor %}
                                    </td>
                                    
                                    <td>
                                        <a href="{% url 'exam_details' %}?e_id={{i.e_id}}" class="btn btn-sm btn-dark">Details</a>
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <h5>No list available</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>

<script>
    $(document).ready(function () {
      $("#ename").keyup(function () {
            var ename = $(this).val();
            
            $.ajax({
  
                  url: '/search_result/',
                  data: {
                    'ename': ename,
                  },
                  
                  success: function (data) {
  
                    $("#tb").html(data)
  
                    }
            });
          });
    });
    </script>
{% endblock content %}