{% extends 'master/header.html' %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Course</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Course</li>
      </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-8">
            {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success p-2">{{message}}</h6>       
                {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Course</h5>
                    <form class="row g-3" action="{% url 'edit_course' %}" id="myform" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="c_id" value="{{data.c_id}}">
                        <div class="col-md-12">
                            <label for="" class="form-label">Course name</label>
                            <input type="text" name="course_name" value="{{data.course_name}}" required class="form-control form-control-sm">
                        </div>
                        <div class="col-md-7">
                            <label for="category_id" class="form-label">Course category</label>
                            <select class="form-control form-control-sm" required name="category_id" id="subject_id">
                                <option value="">--Select--</option>
                                {% if cat %}
                                {% for i in cat %}
                                    <option value="{{i.ct_id}}" {% if i.ct_id == data.category_id %} selected {% endif %}>{{i.course_category}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-5">
                            <label for="image" class="form-label">Image</label>
                            <input type="file" class="form-control form-control-sm" name="image" id="image">
                            {% if data.image %}
                            <img src="{{data.image}}" height="55" width="60" class="rounded" alt="">
                            {% else %}
                            <img src="{% static 'user/img/ol.jpg' %}" height="55" width="80" class="rounded" alt="">
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <label for="subject_id" class="form-label">Subject</label>
                            <select class="form-control form-control-sm" required multiple name="subject_id" id="subject_id">
                                {% if sub %}
                                    {% for i in sub %}
                                        <option value="{{ i.s_id }}" {% if i.s_id in ids %} selected {% endif %}>
                                            {{ i.subject }}
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">Fees</label>
                            <input type="text" name="fees" value="{{ data.fees }}" required class="form-control form-control-sm">
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">Certificate course</label>
                            <select name="certificate_course" required class="form-control form-control-sm">
                                <option value="">--Select--</option>
                                <option value="Yes" {% if data.certificate_course == True %} selected {% endif %}>Yes</option>
                                <option value="No" {% if data.certificate_course == False %} selected {% endif %}>No</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control form-control-sm" name="description" id="address">{{ data.description }}</textarea>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>

<script>
    (function ($, W, D)
    {
    var JQUERY4U = {};
    JQUERY4U.UTIL =
    {
    setupFormValidation: function ()
    {
    $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
    var check = false;
    return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
    );
    
    //form validation rules
    $("#myform").validate({
    ignore: [],
    rules: {
                
        course_name: {
                    required: true,
                    minlength: 1,
                    },
              
        category_id: {
                    required: true
                    },
        
        subject_id: {
                    required: true
                    },
        certificate_course: {
                    required: true
                    },
        fees: {
                required: true,
                number: true
                },
        description: {
                    required: true,
                    minlength: 1,
                    },
        image: {
                extension:'jpg|jpeg|png'
                }

              },

        messages: {

            category_id: "Please select",
            image:"Please select a image with extension jpg|jpeg|png"
        
    },
    submitHandler: function (form) {
    form.submit();
    }
    });
    }
    }
    //when the dom has loaded setup form validation rules
    $(D).ready(function ($) {
    JQUERY4U.UTIL.setupFormValidation();
    });
    })(jQuery, window, document);
    </script>


{% endblock content %}