{% extends 'master/header.html' %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Course</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Course</li>
      </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-8">
            {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success p-2">{{message}}</h6>       
                {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Batches</h5>
                    <form class="row g-3" action="{% url 'edit_batch' %}" id="myform" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="b_id" value="{{ data.b_id }}" id="batch_id">
                        <div class="col-md-12">
                            <label for="" class="form-label">Title</label>
                            <input type="text" name="title" value="{{ data.title }}"  required class="form-control form-control-sm">
                        </div>
                        <div class="col-md-5">
                            <label for="course_id" class="form-label">Course</label>
                            <select class="form-control form-control-sm" required name="course_id" id="course_id">
                                <option value="">--Select--</option>
                                {% if cos %}
                                {% for i in cos %}
                                    <option value="{{i.c_id}}" {% if i.c_id == data.course_id %} selected {% endif %}>{{i.course_name}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-7">
                            <label for="teacher_id" class="form-label">Teachers</label>
                            <select class="form-control form-control-sm" required multiple name="teacher_id" id="teacher_id">
                                
                                {% for i in tr %}
                                <option value="{{ i.tr_id }}" {% if i.tr_id in ids %} selected {% endif %}>{{ i.name }} ({{i.subject.subject}})</option>
                                {% endfor %}
                                    
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">Closing date</label>
                            <input type="date" name="closing_date" value="{{ data.closing_date|date:'Y-m-d' }}" required class="form-control form-control-sm">
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">Course Start date</label>
                            <input type="date" name="start_date" value="{{ data.start_date|date:'Y-m-d' }}" required class="form-control form-control-sm">
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">End date</label>
                            <input type="date" name="end_date" value="{{ data.end_date|date:'Y-m-d' }}" required class="form-control form-control-sm">
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>

<script>

$(document).ready(function(){
    $("#course_id").change(function(){
        var course_id = $(this).val();
        var batch_id = $("#batch_id").val();
        
        $.ajax({
            url: '/ed_teacher/',
            data: {
                'course_id': course_id,
                'batch_id': batch_id
            },
            dataType: 'json',
            success: function (data) {

                let html_data = '';
                
                data.teacher_details.forEach(function (teacher) {
                    
                    let selected = data.teacher_ids.includes(teacher.tr_id) ? 'selected' : '';
                    html_data += `<option value="${teacher.tr_id}" ${selected}>${teacher.name} (${teacher.subject__subject})</option>`;
                });

                $("#teacher_id").html(html_data);

            }
        });
    });
});



    // $(document).ready(function(){
    //     $("#course_id").change(function(){
    //     var course_id = $(this).val();
    //     var batch_id = $("#batch_id").val();
        
    //         $.ajax({

    //             url: '/ed_teacher/',
    //             data: {
    //                 'course_id': course_id,
    //                 'batch_id': batch_id
    //             },
    //             dataType: 'json',
    //             success: function (data) {


    //         let html_data = '';
    //         data.forEach(function (data) {
    //         html_data += `<option value="${data.tr_id}">${data.name} (${data.subject__subject})</option>`
    //         });
    //         $("#teacher_id").html(html_data);

    //             }
    //         });

    //     });
    // });
    </script>


{% endblock content %}