{% extends 'master/header.html' %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Enrollments</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Enrollments</li>
      </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        {% if data %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Enrollments</h5>
                    <div class="row mb-2">
                        <div class="col-7"></div>
                        <div class="col-5">
                            <select name="course_id" class="form-select form-select-sm" id="batch_id">
                                <option value="">Choose...</option>
                                {% if bat %}
                                    {% for i in bat %}
                                        <option value="{{i.b_id}}">{{ i.title }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Batch</th>
                                    <th>Course</th>
                                    <th colspan="2">Student</th>
                                    <th>Contact</th>
                                    <th>Enrolled at</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody id="tb">
                                {% for i in data %}
                                <tr>
                                    <th>{{forloop.counter}}</th>
                                    <td>{{i.batch.title}}</td>
                                    <td>{{i.batch.course.course_name}}</td>
                                    <td>
                                        
                                        {% if i.student.image %}
                                        <img src="{{i.student.image}}" height="60" width="60" class="rounded" alt="">
                                        {% else %}
                                        <img src="{% static 'user/img/dum.jpg' %}" height="60" width="60" class="rounded" alt="">
                                        {% endif %}
                                    </td>       
                                    <th>{{i.student.name}}</th>
                                    <td>{{i.student.email}} <br>
                                        {{i.student.contact_number}}
                                    </td>
                                    <td>{{i.enrolled_at}}</td>

                                    <td>{{ i.amount }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>
<script>
    $(document).ready(function () {
      $("#batch_id").change(function () {
            var batch_id = $(this).val();
            
            $.ajax({
  
                  url: '/search_enrollment/',
                  data: {
                    'batch_id': batch_id,
                  },
                  
                  success: function (data) {
  
                    $("#tb").html(data)
  
                    }
            });
          });
    });
    </script>
{% endblock content %} 