{% extends 'master/header.html' %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Exam List</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Exam List</li>
      </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success p-2">{{message}}</h6>       
                {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Exam List</h5>
                  {% if data %}
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Exam</th>
                                    <th>Topic</th>
                                    <th>Duration</th>
                                    <th>Batches</th>
                                    <th>Teacher</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ i.title }}</td>
                                    <td>{{ i.topic|truncatechars:50 }} </td>
                                    <td>{{ i.et }}</td>
                                    <td>
                                        {% for j in i.batch.all|slice:":1" %}
                                          
                                                {{ j.title }}
                                           
                                        {% endfor %}...
                                    </td>
                                    <td>
                                        {{ i.teacher.name }}
                                    </td>
                                    <td><a href="{% url 'exam_details' %}?e_id={{i.e_id}}" class="btn btn-sm btn-dark">Details</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <h5>No list available</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

  {% endblock content %}