{% extends 'master/header.html' %}
{% load static %}

{% block content %}

 <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard mb-5">
      <div class="row">
        <div class="col-xxl-4 col-xl-12">

          <div class="card info-card revenue-card">

            <div class="card-body">
              <h5 class="card-title">ADMIN HOME</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-laptop"></i>
                </div>
                <div class="ps-3">
                  <h6>ONLINE LEARNING MANAGEMENT SYSTEM</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
{% endblock content %}